<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhanghao.androiddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chapter2.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter1.HelloWorldActivity" />
        <activity android:name=".chapter2.SecondActivity">
            <intent-filter>
                <action android:name="com.zhanghao.androiddemo.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.emample.androiddemo.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter2.ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.baidu.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter2.LifeCycleTestActivity" />
        <activity android:name=".chapter2.NormalActivity" />
        <activity android:name=".chapter2.DialogActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>