<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhanghao.androiddemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chapter2.FirstActivity" />
        <activity android:name=".chapter1.HelloWorldActivity" />
        <activity android:name=".chapter2.SecondActivity">
            <intent-filter>
                <action android:name="com.zhanghao.androiddemo.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.emample.androiddemo.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter2.ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.baidu.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter2.LifeCycleTestActivity" />
        <activity android:name=".chapter2.NormalActivity" />
        <activity
            android:name=".chapter2.DialogActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".chapter3.ListViewTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter3.CustomTopBarActivity" />
        <activity android:name=".chapter3.RecyclerViewTest" />
        <activity android:name=".chapter3.UIBestPractice" />
        <activity android:name=".chapter4.FragmentTest" />
        <activity android:name=".chapter4.FragmentBestPractice" />
        <activity android:name=".chapter4.NewsContentActivity" />
        <activity android:name=".chapter5.BroadcastTest" />

        <receiver
            android:name=".chapter5.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chapter5.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.zhanghao.androiddemo.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name=".chapter5.BroadcastBestPractice" />
        <activity android:name=".chapter5.LoginActivity" />
        <activity android:name=".chapter6.FilePersistenceTest" />
        <activity android:name=".chapter6.SharedPreferencesTest" />
        <activity android:name=".chapter6.DatabaseTest"></activity>
    </application>

</manifest>